### ASSIGNMENT

In [ ]:
# 1

In [1]:
try:
    print(a)
except ValueError:
    a=3
    print(a)
except:
    a=5
    print(a)
finally:
    a=4
    print(a)

5
4

In [42]:
import random

In [47]:
random.randint(3,65)

30

In [49]:
random.choice([3, 6])

6

In [55]:
random.choice([3, 60])

60

In [62]:
random.randrange(3, 6)

5

In [94]:
3+ random.randrange(4)

2

In [ ]:
#4

In [111]:
import numpy as np
def calc(a,b,c):
    
    try:
    #YOUR CODE GOES HERE
        if b == 'quantile':
            return np.quantile(a,c)
        else:
            return np.percentile(a,c)  
    
    
    except Exception as e:
        print('there is some fault')
    finally:
        print('code runs successfully')

In [112]:
a = [7,8,9,6,5,4,1,2,3]
b = 'quantile'

In [113]:
calc(a,b,50)

there is some fault
code runs successfully

In [110]:
np.percentile(a,10)

1.8

In [129]:
try:
    print(f + 2)
except TypeError:    
    print('this is type error')
except NameError:
    print('this is name error')
except ZeroDivisionError:
    print('this is ZeroDivisionError')
finally:
    print('code is over')

this is name error
code is over

In [151]:
try :
    r = random.randint(0,10)
    print(r)
    if r < 5:
        raise Exception ("Number is less than 5")
    elif r  <= 8:
        raise Exception ("number is less than 8")
    else:
        print(r)
finally:
    print('code is over')

6
code is over

Exception: number is less than 8

In [144]:
7<7

False

In [119]:
(a + 6)

TypeError: can only concatenate list (not "int") to list

In [126]:
d + 2

NameError: name 'd' is not defined

In [128]:
a+6

TypeError: can only concatenate list (not "int") to list

In [132]:
random.randint(0,10)

6

In [170]:
import numpy as np
def calc(a,b,c):
    

    try:
        if len(a) == 0:
            raise Exception ("Null value passed")
        elif b == 'quantile':
            return np.quantile(a,c)
        elif b == 'percentile':
            return np.percentile(a,c)  
        else:
            raise Exception ( "Formula Error: Wrong Formula") 
    
    
    except Exception as e:
        print(e)

In [173]:
calc(s,'quantilesfsdf',50)

Null value passed

In [162]:
a

[7, 8, 9, 6, 5, 4, 1, 2, 3]

In [172]:
s= []

In [ ]:
# 6

In [174]:
try:
    print(x)
except NameError:                       #1
    print("Variable x is not defined")
except:                                 #2
    print("Something else went wrong")

Variable x is not defined

In [ ]:
#7

In [176]:
import math
math.factorial(3)

6

In [182]:
  from math import factorial
  print(math.factorial(4))

24

In [ ]:
#8

In [186]:
class MyError(Exception):
 
    # Constructor or Initializer
    def __init__(self, value):
        self.value = value
 
    # __str__ is to print() the value
    def __str__(self):
        return(repr(self.value))
 
 
try:
    raise(MyError(3*2))
 
# Value of Exception is stored in error
except MyError as error:
    print('A New Exception occurred: ', error.value)

A New Exception occurred:  6

In [ ]:
#9

In [191]:
salary = 10

In [192]:
if salary not  in(100,500):
    print('False')
else:
    print('true')

False

In [199]:
def check_salary(salary):
    try:
        if salary not in range(10000, 100000):
            raise Exception ( "Salary is not in range")  
    #YOUR CODE GOES HERE
        else:
            print("Congratulations!!")

    except SalaryNotInRangeError as e:
        print(e)

In [200]:
check_salary(25000)

Congratulations!!

In [ ]:
#5

In [202]:
f = [4 ,2, 5, 8, 6]
sd = np.std(f)

mean = np.mean(f)

In [207]:
round(sd,5)

2.0

In [208]:
round(mean,3)

5.0

In [209]:
sd

2.0

In [213]:
sum(f)/len(f)

5.0

In [220]:
import statistics
statistics.stdev(f)

2.23606797749979

###  ADDITIONAL PROBLEM

In [ ]:
#9

In [222]:
try:
    name = input("Enter your name: ")
    if len(name) < 5:
        raise Exception("Name cannot have less than 5 characters")
    elif len(name)==5: 
        raise Exception("Name should have more than 5 characters")

except Exception as e:
    print("Error occured :",e)

Enter your name: DFGKHGGLJL

In [ ]:
#8

In [223]:
f

[4, 2, 5, 8, 6]

In [224]:
math.standard_deviation(f)

AttributeError: module 'math' has no attribute 'standard_deviation'

In [ ]:
#6

In [226]:
import math
def roundup(a, digits):
    n = math.pow(10,-digits)

    return round(math.floor(a/n)*n,digits)
print(roundup(123.01247,2))

100

In [ ]:
#4

In [229]:
import random

array = list(range(100))
#random.shuffle(array)
while len(array) != 0:
      print(array.pop())

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [ ]:
# 3 #What will statements #A and #B print?

In [ ]:

def even(x):
  try:
    if x%2==0:
      return "even"
    else:
      raise Exception
  except:
    return("odd")
  finally:
    return "integer"

print(even(5))    #A
print(even(4))    #B

In [ ]:
#2

In [ ]:
#A code block is given below:

try:
  n=int(input("Enter a number"))
  while 100%n==0:
    print("Good")
    
except ValueError:
  print("Invalid")


'''Given three inputs :

a. 4

b. 1.5

c. 3

What will be the output in the above three input cases?'''

In [231]:
int(1.5)

1

In [232]:
100%1

0

In [234]:

4//0

ZeroDivisionError: integer division or modulo by zero

In [ ]:
#1

In [237]:
b = 0
try:
    if b==0:
        raise Exception("zero division")
    else:
        print(b+5)
except Exception as e:
    print(e)

zero division